<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:left"> -->

   <!-- <app-assign-pchild [arr]="fromParenttochild" (child)="GetValueFromChild($event)"></app-assign-pchild>  
  <app-child [data]="fromParenttochild" (childOutput)="GetValueFromChild($event)"></app-child>    -->
  <!-- <input type="text" (blur)="submitValue(val)">
  <input type="text" placeholder="Input here..." #val>
  <button (click)="submitValue(val)" >SubmitValue</button>
  <app-lifecyclehooks [data]="value"></app-lifecyclehooks> -->
  <!-- <app-simpletempleteform></app-simpletempleteform> -->
   <!-- <app-assign-button></app-assign-button>  -->
   <!-- <app-assignform></app-assignform> -->
   <!-- <app-assignform2></app-assignform2> -->
   <!-- <app-reactiveform></app-reactiveform> -->
   <!-- <app-assignform></app-assignform> -->
   <!-- <app-simpleformradio></app-simpleformradio> -->
   <!-- <app-datepickerassign></app-datepickerassign> -->
   <!-- <app-datepicker></app-datepicker> -->
   <!-- <app-newcopm></app-newcopm> -->
  <!-- <app-nestedform></app-nestedform> -->
  <!-- <app-passwordassign></app-passwordassign> -->
  <!-- <app-assignuser></app-assignuser> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-practice></app-practice> -->
<!-- <app-home></app-home> -->
<!-- <header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutus" routerLinkActive="active myactive">About Us</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active myactive" >Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active myactive" >Products</a>
      </li>
    </ul>
  </nav>
</header> -->
<div class="row">
  <div class="col-md-4">
    <app-component1></app-component1>
  </div>&nbsp;&nbsp;
  <div class="col-md-4">
    <app-component2></app-component2>
  </div> 
  <!-- <div class="col-md-4">
    <app-component3></app-component3>
  </div>
  <div class="col-md-4">
    <app-component4></app-component4>
  </div> -->
 </div>
  <!-- <router-outlet></router-outlet>  -->


